@media screen and (max-width: 992px) {
  #cities_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  #cities_container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  #cities_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
