@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
header {
  height: 5.8em;
  width: 100vw;
  max-width: 100%;
  background-color: #677E36;
  margin: 0;
  padding: 0;
}
header .navigation-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navigation-bar .c-brand {
  text-decoration: none;
  color: #909B59;
  display: flex;
}
header .navigation-bar .c-brand .brand-icon {
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-size: 3rem;
}
header .navigation-bar .c-brand .brand-name {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
header .navigation-bar .nav {
  list-style-type: none;
  display: flex;
  height: 5.8em;
}
header .navigation-bar .nav li a {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FEFEFC;
  text-decoration: none;
}
header .navigation-bar .nav li a:hover:not(.active) {
  background-color: #909B59;
}
header .navigation-bar .nav .active {
  background-color: #D7AF1C;
}
header .navigation-bar input {
  cursor: pointer;
  border: none;
  background-color: #909B59;
  color: #FEFEFC;
  font-size: 1rem;
  height: 100%;
  padding: 0 1rem;
}
header .navigation-bar input:hover {
  box-shadow: 0 0 0 0.3rem #D7AF1C inset;
}
header .navigation-bar #logout {
  display: none;
}
footer {
  height: 4rem;
  width: 100vw;
  max-width: 100%;
  background-color: #677E36;
  color: #FEFEFC;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .lang-menu {
  list-style: none;
  display: flex;
}
footer .lang-menu .lang {
  cursor: pointer;
}
footer .lang-menu .lang:not(:first-child) {
  margin-left: 0.5rem;
  border-left: 0.1rem solid #909B59;
  padding-left: 0.5rem;
}
footer div {
  width: 20vw;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #070708;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}
body #core_app {
  min-height: calc(100vh - 9.8rem);
}
body .fa-star {
  color: #909B59;
}
.page-banner {
  background-image: linear-gradient(to bottom, #909B59, rgba(246, 233, 252, 0)), url("../img/banner1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 -25vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FEFEFC;
}
.page-banner h1 {
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.page-banner h4 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}
#loggedInAs {
  font-weight: normal;
  color: #FEFEFC;
  display: none;
}
#breadcrumbs {
  padding: 1rem;
  width: 100%;
}
#breadcrumbs span {
  font-weight: bold;
}
#breadcrumbs a {
  text-decoration: none;
  cursor: initial;
}
#breadcrumbs a[href] {
  color: #909B59;
  cursor: pointer;
}
/*Login container*/
.login_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.login_container form {
  margin: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_container form input {
  margin: 0.5rem;
  padding: 0.2rem;
  width: 30vw;
  border: 0.1rem solid #909B59;
  border-radius: 0.3rem;
  font-size: 1rem;
}
.login_container form input[type="submit"] {
  width: fit-content;
  padding: 0.5rem 2rem;
}
#cities_container,
#favorite-cities-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem;
  grid-gap: 1rem;
}
#cities_container .city,
#favorite-cities-container .city {
  text-decoration: none;
  font-size: 1rem;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FEFEFC;
  border: 0.1rem solid #909B59;
  border-radius: 0.5rem;
  height: 30vh;
  padding: 3% 5% 0 5%;
  display: flex;
  flex-direction: column;
}
#cities_container .city .favorite-city,
#favorite-cities-container .city .favorite-city {
  align-self: flex-end;
}
#cities_container .city h1,
#favorite-cities-container .city h1,
#cities_container .city h4,
#favorite-cities-container .city h4 {
  margin: 0;
}
#city_container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#city_container #cities_detail_container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#city_container #cities_detail_container .city-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40vh;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FEFEFC;
  font-size: 1.5rem;
  padding-left: 2rem;
  position: relative;
}
#city_container #cities_detail_container .city-banner .favorite-city {
  position: absolute;
  top: 1rem;
  right: 3rem;
}
#city_container #cities_detail_container .city-banner .favorite-city .fas,
#city_container #cities_detail_container .city-banner .favorite-city .fa {
  font-size: 2.2rem;
}
#city_container #cities_detail_container .city-detail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 0.1rem solid #909B59;
  height: 30vh;
}
#city_container #cities_detail_container .city-detail .city-info {
  padding: 3rem;
  margin: auto;
}
#city_container #cities_detail_container .city-detail #mapid {
  height: 30vh;
}
#city_container #cities_detail_container .headline-hotels {
  padding-left: 3rem;
}
#city-hotels,
#favorite-hotels-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 0 3rem 3rem 3rem;
}
#city-hotels .hotel-card,
#favorite-hotels-container .hotel-card {
  text-decoration: none;
  color: #070708;
  overflow: hidden;
  border: 0.1rem solid #909B59;
  border-radius: 0.5rem;
}
#city-hotels .hotel-card .card-header,
#favorite-hotels-container .hotel-card .card-header {
  height: 10rem;
  width: 100%;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
#city-hotels .hotel-card .card-header .favorite-hotel,
#favorite-hotels-container .hotel-card .card-header .favorite-hotel {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
#city-hotels .hotel-card .card-body,
#favorite-hotels-container .hotel-card .card-body {
  padding: 0 0.5rem 0.5rem 0.5rem;
}
#city-hotels .hotel-card .card-body h1,
#favorite-hotels-container .hotel-card .card-body h1 {
  font-size: 1.3rem;
  padding-bottom: 0;
  margin-bottom: 0;
}
#city-hotels .hotel-card .card-body h4,
#favorite-hotels-container .hotel-card .card-body h4 {
  font-size: 0.8rem;
  padding: 0;
  margin: 0;
}
#hotel_container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#hotel_container #mapid {
  width: 100%;
  height: 35vh;
}
#hotel_container #hotels_detail_container .hotel-information {
  padding: 0 5vh 0 5vh;
  display: flex;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-desc {
  width: 70%;
  padding-right: 5vw;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-desc h1 {
  padding: 0;
  margin: 0;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-desc h4 {
  padding: 0;
  margin: 0;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact {
  width: 30%;
  display: flex;
  flex-direction: column;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact td {
  padding: 0.2rem;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact td:first-child {
  color: #909B59;
  padding-right: 1rem;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact a {
  color: #070708;
  text-decoration: none;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact .favorite-hotel {
  cursor: pointer;
  align-self: center;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #909B59;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact .favorite-hotel i {
  color: #909B59;
  margin-right: 0.3rem;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact .isFavors {
  background-color: #ff201e;
  color: #FEFEFC;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact .isFavors i {
  color: #FEFEFC;
}
#hotel_container #hotels_detail_container .amenities-container {
  padding: 0 5rem 2rem 5rem;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities {
  list-style: none;
  display: flex;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li {
  background-color: #909B59;
  border: 0.1rem solid #FEFEFC;
  padding: 1rem;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li i {
  color: #FEFEFC;
  font-size: 1.5rem;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip {
  position: relative;
  display: inline-block;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip .tooltiptext {
  font-family: 'Open Sans', sans-serif;
  color: #070708;
  text-align: center;
  font-size: 1rem;
  visibility: hidden;
  width: 120px;
  background-color: #FEFEFC;
  border: 0.1rem solid #070708;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #070708 transparent transparent transparent;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#hotel_container #hotels_detail_container .slider-container {
  padding: 2rem 5rem 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hotel_container #hotels_detail_container .slider-container div {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#hotel_container #hotels_detail_container .slider-container div button {
  font-size: 3rem;
  border: none;
  background: none;
  color: #909B59;
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}
#hotel_container #hotels_detail_container .slider-container div button:hover {
  font-size: 3.2rem;
}
#hotel_container #hotels_detail_container .slider-container div button:focus {
  outline: none;
}
#hotel_container #hotels_detail_container .slider-container div .slide-display-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#hotel_container #hotels_detail_container .slider-container div .slide-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
#hotel_container #hotels_detail_container .slider-container div .image-slide {
  width: 100%;
  display: none;
  vertical-align: middle;
}
#hotel_container #hotels_detail_container .slider-container div .image-slide img {
  width: 100%;
}
button.favorite-city,
button.favorite-hotel {
  background: none;
  border: none;
  color: #FEFEFC;
}
button.favorite-city:focus,
button.favorite-hotel:focus {
  outline: none;
}
button.favorite-city .fas,
button.favorite-hotel .fas,
button.favorite-city .fa,
button.favorite-hotel .fa {
  font-size: 1.5rem;
  text-shadow: 0 0 2px #909B59;
}
button.isFavors {
  color: #ff201e;
}
button.isFavors .fas,
button.isFavors .fa {
  text-shadow: 0 0 3px #FEFEFC;
}
@media screen and (max-width: 992px) {
  .navigation-bar .nav {
    display: none !important;
  }
  #cities_container,
  #favorite-cities-container,
  #favorite-hotels-container {
    grid-template-columns: repeat(3, 1fr);
  }
  #cities_detail_container #city-hotels {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media screen and (max-width: 768px) {
  #cities_container,
  #favorite-cities-container,
  #favorite-hotels-container {
    grid-template-columns: repeat(2, 1fr);
  }
  #cities_detail_container .city-detail {
    height: fit-content !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  #cities_detail_container #city-hotels {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 576px) {
  #cities_container,
  #favorite-cities-container,
  #favorite-hotels-container {
    grid-template-columns: repeat(1, 1fr);
  }
  #cities_detail_container #city-hotels {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
