@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
header {
  height: 5.8em;
  width: 100vw;
  max-width: 100%;
  background-color: #677E36;
  margin: 0;
  padding: 0;
}
header .navigation-bar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navigation-bar .c-brand {
  text-decoration: none;
  color: #909B59;
  display: flex;
}
header .navigation-bar .c-brand .brand-icon {
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-size: 3rem;
}
header .navigation-bar .c-brand .brand-name {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}
header .navigation-bar .nav {
  list-style-type: none;
  display: flex;
  height: 5.8em;
}
header .navigation-bar .nav li a {
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FEFEFC;
  text-decoration: none;
}
header .navigation-bar .nav li a:hover:not(.active) {
  background-color: #909B59;
}
header .navigation-bar .nav .active {
  background-color: #D7AF1C;
}
header .navigation-bar input {
  cursor: pointer;
  border: none;
  background-color: #909B59;
  color: #FEFEFC;
  font-size: 1rem;
  height: 100%;
  padding: 0 1rem;
}
header .navigation-bar input:hover {
  box-shadow: 0 0 0 0.3rem #D7AF1C inset;
}
header .navigation-bar #logout {
  display: none;
}
footer {
  width: 100vw;
  max-width: 100%;
  background-color: #677E36;
  color: #FEFEFC;
  display: flex;
  justify-content: space-between;
}
footer .lang-menu {
  list-style: none;
  display: flex;
}
footer .lang-menu .lang {
  cursor: pointer;
}
footer .lang-menu .lang:not(:first-child) {
  margin-left: 0.5rem;
  border-left: 0.1rem solid #909B59;
  padding-left: 0.5rem;
}
footer div {
  width: 20vw;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #070708;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}
/*Login container*/
.login_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}
.login_container form {
  margin: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login_container form input {
  margin: 0.5rem;
  padding: 0.2rem;
  width: 30vw;
  border: 0.1rem solid #909B59;
  border-radius: 0.3rem;
  font-size: 1rem;
}
.login_container form input[type="submit"] {
  width: fit-content;
  padding: 0.5rem 2rem;
}
#cities_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 5vw;
}
#cities_container .city {
  text-decoration: none;
  font-size: 1rem;
  margin: 2px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FEFEFC;
  border: none;
  height: 30vh;
  padding: 3% 0 0 5%;
}
#cities_container .city h1,
#cities_container .city h4 {
  margin: 0;
}
#cities_detail_container,
#hotel_container {
  padding: 0 5vw;
}
#hotel_container {
  width: 100%;
  padding: 0;
  margin: 0;
}
#hotel_container #mapid {
  width: 100%;
  height: 35vh;
  margin: 0 0 5vh 0;
}
#hotel_container #hotels_detail_container .hotel-information {
  padding: 0 5vh 10vh 5vh;
  display: flex;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-desc {
  width: 70%;
  padding-right: 5vw;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-desc h1 {
  padding: 0;
  margin: 0;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-desc h4 {
  padding: 0;
  margin: 0;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact {
  width: 30%;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact td {
  padding: 0.2rem;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact td:first-child {
  color: #909B59;
  padding-right: 1rem;
}
#hotel_container #hotels_detail_container .hotel-information .hotel-contact a {
  color: #070708;
  text-decoration: none;
}
#hotel_container #hotels_detail_container .amenities-container {
  padding: 0 5rem 2rem 5rem;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities {
  list-style: none;
  display: flex;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li {
  padding: 1rem;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li i {
  font-size: 2rem;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip {
  position: relative;
  display: inline-block;
  /* Tooltip arrow */
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip .tooltiptext {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  visibility: hidden;
  width: 120px;
  background-color: #909B59;
  color: #FEFEFC;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.1rem;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #909B59 transparent transparent transparent;
}
#hotel_container #hotels_detail_container .amenities-container .hotel-amenities li .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#hotel_container #hotels_detail_container .slider-container {
  background-color: #677E36;
  padding: 2rem 5rem 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hotel_container #hotels_detail_container .slider-container div {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
#hotel_container #hotels_detail_container .slider-container div button {
  font-size: 3rem;
  border: none;
  background: none;
  color: #909B59;
  -webkit-transition: font-size 0.5s;
  -moz-transition: font-size 0.5s;
  -o-transition: font-size 0.5s;
  transition: font-size 0.5s;
}
#hotel_container #hotels_detail_container .slider-container div button:hover {
  font-size: 3.2rem;
}
#hotel_container #hotels_detail_container .slider-container div .slide-display-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
#hotel_container #hotels_detail_container .slider-container div .slide-display-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
#hotel_container #hotels_detail_container .slider-container div .image-slide {
  width: 100%;
  display: none;
  vertical-align: middle;
}
#hotel_container #hotels_detail_container .slider-container div .image-slide img {
  width: 100%;
}
